
/*
  Primary (blue): #5a7a9b
  Primary Header (lighter blue): #6e8cab
  Action (green): #5a9b7a
  Action Hover (lighter green): #5aa57a
  Action Click (darker green): #31825a
  Item Text (dark blue/gray): #1e2934
  Notification (purple): #6a5a9b
*/
html,body { height: 100%; padding: 0; margin: 0; }
.modal {
  position: fixed;
  background-color: #FFF;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
  color: #5A7A9B;
}
.modal:target {
  opacity: 1;
  pointer-events: auto;
}

.add-new {
  text-decoration: none;
  color: #FFF;
  background-color: #5a9b7a;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1;
  padding: 0;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  line-height: 1;
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 2rem;
  right: 2rem;

  transition: box-shadow 0.3s ease;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 5px -1px,
              rgba(0, 0, 0, 0.14) 0px 6px 10px 0px,
              rgba(0, 0, 0, 0.12) 0px 1px 18px 0px;
}
.add-new:hover {
  background-color: #5aa57a;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 5px -3px,
              rgba(0, 0, 0, 0.14) 0px 8px 10px 1px,
              rgba(0, 0, 0, 0.12) 0px 3px 14px 2px;
}
.add-new:active {
  background-color: #31825a;
}

.boundary {
  width: 100%;
  min-height: 100%;
  background-color: #5A7A9B;
  display: flex;
  flex-flow: column;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  color: #FFF;
  font-weight: bold;
  font-size: 2rem;
  background-color: #6e8cab;
  box-shadow: 0 2px 5px rgba(0,0,0,0.26);
}

.orders {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
}

.order {
  width: 6rem;
  height: 6rem;
  text-decoration: none;
  transition: box-shadow 0.3s;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16),
              0 3px 6px rgba(0,0,0,0.23);
  background-color: #FFF;
  color: #1e2934;
  margin: 1rem;
  padding: 0.5rem
}
.order:hover {
  box-shadow: 0 5px 6px rgba(0,0,0,0.16),
              0 5px 6px rgba(0,0,0,0.23);
}
.order__customer {
  text-align: center;
  font-weight: bold;
  margin-bottom: 1rem;
}
.order__item {
  margin-bottom: 0.5rem;
}

#add-new {
  padding: 0.5rem;
}
.add-coffee {
  margin-top: 1rem;
}
.add-coffee > button {
  margin-top: 1rem;
}
.add-bagel {
  margin-top: 1rem;
}
.add-bagel > button {
  margin-top: 1rem;
}

#select-item {
  padding: 0.5rem;
}
.select-item__coffee {
  margin: 1rem;
}
.select-item__bagel {
  margin: 1rem;
}