
$primary-bg-color: #5a7a9b;
$header-text-color: #ffffff;
$header-bg-color: #6e8cab;
$action-button-text-color: #ffffff;
$action-button-bg-color: #5a9b7a;
$action-button-hover-bg-color: #5aa57a;
$action-button-active-bg-color: #31825a;
$order-card-text-color: #1e2934;
$order-card-bg-color: #ffffff;
$order-card-notification-bg-color:#6a5a9b;
$modal-bg-color: #ffffff;

html,body { height: 100%; padding: 0; margin: 0; }
.modal {
  position: fixed;
  background-color: $modal-bg-color;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
  color: $primary-bg-color;

  &:target {
    opacity: 1;
    pointer-events: auto;
  }
}

.add-new {
  text-decoration: none;
  color: $action-button-text-color;
  background-color: $action-button-bg-color;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1;
  padding: 0;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  line-height: 1;
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  transition: box-shadow 0.3s ease;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 5px -1px,
              rgba(0, 0, 0, 0.14) 0px 6px 10px 0px,
              rgba(0, 0, 0, 0.12) 0px 1px 18px 0px;

  &:hover {
    background-color: $action-button-hover-bg-color;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 5px -3px,
                rgba(0, 0, 0, 0.14) 0px 8px 10px 1px,
                rgba(0, 0, 0, 0.12) 0px 3px 14px 2px;
  }

  &:active {
    background-color: $action-button-active-bg-color;
  }
}

.boundary {
  width: 100%;
  min-height: 100%;
  background-color: $primary-bg-color;
  display: flex;
  flex-flow: column;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  color: $header-text-color;
  font-weight: bold;
  font-size: 2rem;
  background-color: $header-bg-color;
  box-shadow: 0 2px 5px rgba(0,0,0,0.26);
}

.orders {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
}

.order {
  width: 6rem;
  height: 6rem;
  text-decoration: none;
  transition: box-shadow 0.3s;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16),
              0 3px 6px rgba(0,0,0,0.23);
  background-color: $order-card-bg-color;
  color: $order-card-text-color;
  margin: 1rem;
  padding: 0.5rem;

  &:hover {
    box-shadow: 0 5px 6px rgba(0,0,0,0.16),
                0 5px 6px rgba(0,0,0,0.23);
  }

  &--complete {
    animation: order-complete 5s infinite;
  }
}

@keyframes order-complete {
  0%,100% {
    background-color: $order-card-bg-color;
  }
  50% {
    background-color: $order-card-notification-bg-color;
  }
}
.order__customer {
  text-align: center;
  font-weight: bold;
  margin-bottom: 1rem;
}
.order__item {
  margin-bottom: 0.5rem;
}

#add-new {
  padding: 0.5rem;
}
.add-coffee {
  margin-top: 1rem;
  & > button {
    margin-top: 1rem;
  }
}

.add-bagel {
  margin-top: 1rem;
  & > button {
    margin-top: 1rem;
  }
}

#select-item {
  padding: 0.5rem;
}
.select-item__coffee {
  margin: 1rem;
}
.select-item__bagel {
  margin: 1rem;
}